body{
    background-color: #009933;
}

#map {
  height: 100%;
}

/* Makes the map fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  width: 33%;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
  margin-left: 100px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  border: 0;
  line-height: 1;
  padding: 13px;
}
.join {
  background: #092;
  color: #EEE;
}
.leave {
  background: #666;
  color: #EEE;
}
#call-button {
  flex: 0 0 auto;
  box-sizing: border-box;
  width: 200px;
}
video {
  max-width: 100%;
  display: block;
}
#self {
  width: 50%;
}
